@import '/styles/variables.scss';

.box{
    @include flex(row,wrap);
    justify-content: flex-start;
    align-items: center;
}

.page{
    width: 30px;
    height: 30px;
    margin: 0 10px;
    text-align: center;

}

.defaultPage{
    border: 3px solid $articleBorderColor;
}

.activePage{
    border: 3px solid $curentPageColor;
}