@import '/styles/variables.scss';

.section{
    @include flex(row);
    justify-content: center;
    align-items: center;

    background-color:$backgroundColorFooter ;
    height: 100px;

    margin-top: 20px;
}

.section a{
    color:$footerLinksColor;
    @include font-link()
}